:global {
  html {
    overflow: hidden;
  }

  body {
    margin: 0;
    background-color: black;
    width: 100%;
    padding-bottom: 56.25%;
  }
}

.main {
  display: flex;

  .secondColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: center;
    align-items: center;
  }

  .thirdColumn {
    padding-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}